PORT=

# Configuración de autenticación

JWT_SECRET=
TOKEN_EXPIRATION=1h

# Configuración de la base de datos


API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=


  "email": "administrador@ejemplo.com",
    "password": "administrador1234"